@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}


button {
    width: 140px;
    height: 50px;
    position: relative;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

.top {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 238);
    font-family: poppins;
    font-size: 18px;
    color: rgb(36, 38, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7mm;
    outline: 2px solid rgb(36, 38, 34);
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(229, 229, 199);
    top: 10px;
    left: 0;
    border-radius: 7mm;
    outline: 2px solid rgb(36, 38, 34);
    z-index: -1;
}

.bottom::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 9px;
    background: rgb(36, 38, 34);
    bottom: 0;
    left: 15%;
}

.bottom::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 9px;
    background: rgb(36, 38, 34);
    bottom: 0;
    left: 85%;
}

button:active .top {
    transform: translateY(10px);
}

button::before {
    position: absolute;
    content: "";
    width: calc(100% + 2px);
    height: 100%;
    background: rgb(140, 140, 140);
    top: 14px;
    left: -1px;
    border-radius: 7mm;
    outline: 2px solid rgb(36, 38, 34);
    z-index: -1;
}

.top::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transform: skewX(30deg);
    left: -20px;
    transition: 0.25s;
}

.top:hover {
    background: rgb(249, 227, 26);
    color: rgb(2, 1, 1);

}

button:active .top::before {
    left: calc(100% + 20px);
}



.animation {
    height: 50px;
    overflow: hidden;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}



@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}